* {
  box-sizing: border-box;
}

svg text {
  font-family: Helvetica Neue;
  font-size: 11pt;
}

.vizContainer {
  outline: 2px solid black;
  fill: none;
}

.controlsContainer {
  display: flex;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.playButton {
  
}

.treeNode {
  position: relative;
  pointer-events: all;
  transform-origin: 50% 50%;
  transform-box: fill-box;
}

.cartesianNode {
  position: relative;
  pointer-events: all;
  transform-origin: 50% 50%;
  transform-box: fill-box;
}

/* .treeNode:hover {
  transform: scale(1.1);
  fill: lightgreen;
} */