* {
  box-sizing: border-box;
}

:root {
  --gray: #8c8c8c;
  --lightgray: #ececec;
}

#rtree-container {
  max-width: 900px;
}

svg text {
  font-family: Helvetica Neue;
  font-size: 11pt;
}

.vizContainer {
  outline: 2px solid black;
  fill: none;
}

.controlsContainer {
  display: flex;
}

.flex {
  flex: 1;
  display: flex;
}

.flex-col {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.step-text {
  display: flex;
  align-items: center;
  margin-left: 25px;
  flex: 5;
}

button {
  margin: 15px 5px;
  flex: 1;
  border-color: var(--gray);
  border-radius: 2px;
  background-color: var(--lightgray);
}

.buttonIcon {
  width: 3em;
}

.playButton {
  align-items: center;
  justify-content: center;
}

.pauseIcon {
  display: none;
}

.playbackButton {

}

.treeNode {
  position: relative;
  pointer-events: all;
  transform-origin: 50% 50%;
  transform-box: fill-box;
}

.cartesianNode {
  position: relative;
  pointer-events: all;
  transform-origin: 50% 50%;
  transform-box: fill-box;
}

/* .treeNode:hover {
  transform: scale(1.1);
  fill: lightgreen;
} */